<div class="financial-page-container">

  @if (isLoading()) {
    <div class="loading-state">
      <p>Loading information...</p>
    </div>
  }
  <h2 class="text-4xl">Financial Page</h2>
  <p></p>
  <div class="w-3xs border-b-2 border-b-blue-950 mg-9 "></div>
  @if (!isLoading() && pageId()) {
    <nav class="m-10 text-3xl flex flex-2 justify-between">
      <app-list-financial-page />
      <div class="mt-11 ml-150">
        <app-button-new-category />
      </div>
      <div class="mt-13">
        <app-status-toggle
          [status]="statusPage().status"
          (toggle)="changeToggletStatus()"
        />
      </div>
    </nav>
    <div>
      <app-categories
        [pageId]="pageId()"
      ></app-categories>
    </div>
  }

  @if (!isLoading() && !pageId()) {
    <div class="empty-state text-center py-8 text-black-russian-400">
      <p>No financial page selected.</p>
    </div>
  }

  
  

</div>