<div class="financial-page-container">

  @if (isLoading()) {
    <div class="loading-state">
      <p>Cargando información...</p>
    </div>
  }

  @if (!isLoading() && dateFinancialPage() && dateFinancialPage()!.length > 0) {
    <div class="categories-list">
      @for (category of dateFinancialPage(); track category.id) {
        <div class="category-box">
          <h3>{{ category.name }}</h3>

          @if (category.movements.length > 0) {
            <ul class="movements-list">
              @for (movement of category.movements; track movement.id) {
                <li>
                  <span>{{ movement.description || 'Sin descripción' }}</span>
                  <span>{{ movement.amount | currency:'COP' }}</span>
                  <span>{{ movement.date | date:'dd/MM/yyyy' }}</span>
                </li>
              }
            </ul>

          } @else {
            <p class="no-movements">Sin movimientos en esta página.</p>
          }
        </div>
        <app-button-update-category
              [category]="category"
        ></app-button-update-category>
        <app-button-delete-category
              [categoryId]="category.id"
        ></app-button-delete-category>
      }
    </div>
  }

  @if (!isLoading() && (!dateFinancialPage() || dateFinancialPage()!.length === 0)) {
    <div class="empty-state">
      <p>No hay categorías para mostrar.</p>
    </div>
  }
  <app-list-financial-page/>
  <app-status-toggle
    [status]="statusPage().status"
    (toggle)="changeToggletStatus()"
  />
  <app-button-new-category (categoryCreated)="loadDatePage()"/>

</div>