# .env.example (SÍ se sube a Git)
NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5432/dbname

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_EXPIRES_IN_REFRESH=7d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

RESEND_API_KEY=

FRONTEND_URL=http://localhost:4200